<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project_Main</title>
    <link href="../css/main.css" type="text/css" rel="stylesheet">
    <style></style>
</head>
<body>
<!-- 상단 logo & Menu -->
<div class="main_top">
    <div class="head_logo">
        <img class="h_logo" src="../img/naver.png" alt="로고" width="150" height="30" >
    </div>

    <nav>
        <ul>
            <li><a href="#">Notice</a></li>
            <li><a href="#">FAQ</a></li>
        </ul>
    </nav>
</div>

<div class="icon_sidebar">
    <p> << </p>
</div>

<div class="main_profile">
    <div class="main_profileimg">
        <img class="hello_img" src="../img/예시_유저.jpg" alt="유저사진" width="120" height="120" >
        <p class="hello_user">반갑습니다. USERNAME님</p>
    </div>
</div>

<div class="chalendar">
    <p class="chalendar_open">▼</p>
    <p class="chalendar_open">캘린더 확인하기</p>
</div>

<div class="main_center">
    <div class="main_left">오늘의 To-do
        <div class="content">
            <div class="container-fluid" layout:fragment="content">
                <th:block th:replace="${content}"></th:block> <!-- 여기에 콘텐츠가 들어갑니다 -->
            </div>
        </div>
    </div>
    <div class="main_right">오늘의 그래프(?)</div>
</div>
</body>
</html>
