/*상단 logo & Menu */
.main_top{
    height: 80px;
}

.head_logo{
    
    width: 200px;    
    margin: 10px 0px 0px 30px;
    float: left;
}

nav{
    margin: 0px 0px 0px 1600px;
}

nav a{

    text-decoration-line: none;
    color: black;
}

nav li{    
    float: left;
    list-style: none;
        margin: 15px 70px 0px 0px;
    font-size : 20px;
    font-weight: bold;    
}

.icon_sidebar{
    height: 50px;
    background-color: #fffff0;
    padding: 0px 0px 0px 30px;
}
.main_profile{
    height: 200px;
    background-color:#dadaff;
    text-align: center;
    font-size: 18px;
}
.main_profileimg{
    width: 500px;
    height: 200px;
    background-color: blue;
    margin-left: auto;
    margin-right: auto;
    
}
.hello_img{
    float: left;
    padding: 30px 20px 0px 40px;
}
.hello_user{
    text-align: center;
    float: left;
    padding: 60px 0px 0px 20px;
}
.chalendar{
    height: 100px;
    background-color: lavender;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
}
.chalendar_open{
    padding: 5px 0px 0px 0px;
}

.main_center{
    height: 300px;
    background-color: lavender;
    margin-left:auto;
    margin-right: auto;
}