<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}"
      lang="en">

<body>
<div class="container-fluid" layout:fragment="content">
    <h1>Todo List</h1>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Completed</th>
            <th>Due Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="todo : ${todos}">
            <td th:text="${todo.num}"></td>
            <td th:text="${todo.title}"></td>
            <td th:text="${todo.description}"></td>
            <td th:text="${todo.completed} ? 'Yes' : 'No'"></td>
            <td th:text="${todo.dueDate} != null ? ${todo.dueDate} : 'N/A'"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
